<nav>
    <a href="/manage-users">Users</a>
    <a href="/manage-products">Products</a>
    <a href="/logout">Logout</a>
</nav>
<h1>Admin Dashboard</h1>
<p>Users: <%= usersCount %></p>
<p>Products: <%= productsCount %></p>
